@model MARS.Web.Models.OneMeet


@*<p>
        <a class="btn btn-primary" href="@Url.Action("Details", "Liveboard", new { id = Model.ID })">Refresh &raquo;</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Loaded:  @DateTime.Now.ToString("H:mm:ss")  |  Next refresh in
    <p id="note"></p>
    </p>*@

@*<div id="countdown"></div>*@

<div class="panel-body">
    <a class="btn btn-primary" href="@Url.Action("Event", "Liveboard", new { meetId = Model.MeetId, eventId = Model.CurrentEvent.Id, groupId = Model.CurrentGroupId, dayNo = Model.CurrentDay })">Refresh &raquo;</a>
    <br />
    Next refresh:
    <p id="note"></p>
</div>

<table class="table">
    <tr>
        <th>#</th>
        <th></th>
        <th>Result</th>
        <th>Name</th>
        <th>Team</th>
        @for (var i = 1; i <= Model.CurrentEvent.ResultList.NoInSerie; i++)
        {
            <th>@i.ToString()</th>
        }
        @if (Model.CurrentEvent.ResultList.JumpSchema != null && Model.CurrentEvent.ResultList.JumpSchema.Count > 0)
        {
            foreach (var h in Model.CurrentEvent.ResultList.JumpSchema)
            {
                <th>@h</th>
            }
        }
    </tr>

    @foreach (var h in Model.CurrentEvent.ResultList.Heats)
    {
        if (h.Header.Length > 0)
        {
            <tr><td colspan="5">@Html.DisplayFor(_ => h.Header)</td></tr>
        }

        if (h.Participants != null && h.Participants.Count > 0)
        {
            foreach (var p in h.Participants)
            {
                <tr>
                    <td>@Html.DisplayFor(_ => p.Position)</td>
                    <td>@Html.DisplayFor(_ => p.Comment)</td>
                    <td>@Html.DisplayFor(_ => p.Result)</td>
                    <td>@Html.DisplayFor(_ => p.Name)</td>

                    @if (p.TeamId.Equals(Guid.Empty))
                    {
                        <td>@Html.DisplayFor(_ => p.Team)</td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink(p.Team, "Team", new { meetId = Model.MeetId, teamId = p.TeamId, groupId = Model.CurrentGroupId, dayNo = Model.CurrentDay, sortBy = Model.CurrentSortBy })
                        </td>
                    }

                    @if (p.Serie1 != null)
                    {
                        foreach (var res in p.Serie1)
                        {
                            <td>@Html.DisplayFor(_ => res)</td>
                        }
                    }
                </tr>
            }
        }
    }
</table>
