@model MARS.Web.Models.OneMeet

<h2>
    @Html.DisplayFor(model => model.Description)
</h2>

<div>
    @*@if (Model.TeamColumns != null)
        {
            <div class="btn-group">
                @Html.ActionLink("TEAMS", "Teams", new { meetId = Model.MeetId }, new { @class = "btn btn-danger" })

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

                <ul class="dropdown-menu">
                    <li>
                        <div class="row" style="width: 600px;">
                            @foreach (var column in Model.TeamColumns)
                            {
                                <ul class="list-unstyled col-md-4">
                                    @foreach (var t in column)
                                    {
                                        <li>
                                            @Html.ActionLink(t.Name, "Team", new { meetId = Model.MeetId, teamId = t.Id, groupId = Model.CurrentGroupId, dayNo = Model.CurrentDay })
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        }*@

    <div class="btn-group">
        @{
            @Html.ActionLink("Events", "Events", new { meetId = Model.MeetId, groupId = Model.CurrentGroupId, dayNo = Model.CurrentDay }, new { @class = "btn btn-default" })
        }
    </div>

    <div class="btn-group">
        @{
            @Html.ActionLink("Teams", "Teams", new { meetId = Model.MeetId, groupId = Model.CurrentGroupId, dayNo = Model.CurrentDay }, new { @class = "btn btn-primary" })
        }
    </div>

    @if (Model.Selection == MARS.Web.Models.Selection.OneTeam)
    {
        if (Model.NoOfDays > 1)
        {
            var text = Model.CurrentDay == 0 ? "All days" : String.Format("Day {0}", Model.CurrentDay);

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    @text
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    @if (Model.CurrentDay != 0)
                    {
                        <li>
                            @Html.ActionLink("All days", "Team", new { meetId = Model.MeetId, teamId = Model.CurrentTeam.Id, groupId = Model.CurrentGroupId, dayNo = 0, sortBy = Model.CurrentSortBy })
                        </li>
                    }

                    @for (int i = 1; i <= Model.NoOfDays; i++)
                    {
                        if (Model.CurrentDay != i)
                        {
                            <li>
                                @Html.ActionLink(String.Format("Day {0}", i), "Team", new { meetId = Model.MeetId, teamId = Model.CurrentTeam.Id, groupId = Model.CurrentGroupId, dayNo = i, sortBy = Model.CurrentSortBy })
                            </li>
                        }
                    }
                </ul>
            </div>
        }

        var className = Model.CurrentGroupId == null ? "btn-primary" : "btn-default";

        <div class="btn-group">
            @Html.ActionLink("ALL", "Team", new { meetId = Model.MeetId, teamId = Model.CurrentTeam.Id, dayNo = Model.CurrentDay, sortBy = Model.CurrentSortBy }, new { @class = "btn " + className })
        </div>

        foreach (var item in Model.Groups)
        {
            className = item.GroupId == Model.CurrentGroupId ? "btn-primary" : "btn-default";
            <div class="btn-group">
                @Html.ActionLink(item.GroupId, "Team", new { meetId = Model.MeetId, teamId = Model.CurrentTeam.Id, groupId = item.GroupId, dayNo = Model.CurrentDay, sortBy = Model.CurrentSortBy }, new { @class = "btn " + className })
            </div>
        }

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Sort by
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>
                    @Html.ActionLink("Timeschedule", "Team", new { meetId = Model.MeetId, teamId = Model.CurrentTeam.Id, groupId = Model.CurrentGroupId, dayNo = Model.CurrentDay, sortBy = 0 })
                    @Html.ActionLink("Group - event", "Team", new { meetId = Model.MeetId, teamId = Model.CurrentTeam.Id, groupId = Model.CurrentGroupId, dayNo = Model.CurrentDay, sortBy = 1 })
                    @Html.ActionLink("Event - group", "Team", new { meetId = Model.MeetId, teamId = Model.CurrentTeam.Id, groupId = Model.CurrentGroupId, dayNo = Model.CurrentDay, sortBy = 2 })
                    @Html.ActionLink("First name", "Team", new { meetId = Model.MeetId, teamId = Model.CurrentTeam.Id, groupId = Model.CurrentGroupId, dayNo = Model.CurrentDay, sortBy = 3 })
                </li>
            </ul>
        </div>
    }

</div>
