@model MARS.Web.Models.OneMeet

@{
    ViewBag.Title = "Event";
}

@*@if (Model.ResultList != null && Model.ResultList.Heats != null && Model.ResultList.Heats.Count > 0 && Model.State.StartsWith("O"))
    {
        @section Scripts {
            <script type="text/JavaScript">

                function ReloadPage() {
                    location.reload();
                };

                $(document).ready(function () {
                    //alert("!!!");
                    setTimeout("ReloadPage()", 60000);
                });
            </script>
        }
    }*@

@{ Html.RenderPartial("~/Views/LiveBoard/_EventMenu.cshtml", Model); }

<p>&nbsp;</p>

<div class="panel panel-primary">
    <div class="panel-heading">
        @Html.DisplayFor(model => model.Events.ElementAt(0).GroupText)
        - @Html.DisplayFor(model => model.Events.ElementAt(0).EventText)

        @if (Model.Events.ElementAt(0).RoundNo < Model.Events.ElementAt(0).NoOfRounds)
        {
            @: -
            @Html.DisplayFor(modelItem => modelItem.Events.ElementAt(0).RoundText)
        }

        - Day @Html.DisplayFor(model => model.Events.ElementAt(0).Day) at @Html.DisplayFor(model => model.Events.ElementAt(0).Time)
    </div>

    @if (Model.Events.ElementAt(0).RecordList != null && Model.Events.ElementAt(0).RecordList.Lines != null && Model.Events.ElementAt(0).RecordList.Lines.Count > 0)
    {
        <table class="table">
            @foreach (var r in Model.Events.ElementAt(0).RecordList.Lines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => r.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.Result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.Name)
                    </td>
                </tr>
            }
        </table>
    }
</div>

<div>
    @*class="row">*@

    @if (Model.Events.ElementAt(0).ResultList != null && Model.Events.ElementAt(0).ResultList.Heats != null && Model.Events.ElementAt(0).ResultList.Heats.Count > 0 && Model.Events.ElementAt(0).StateText.StartsWith("O"))
    {
        Model.CurrentEvent = Model.Events.ElementAt(0);

        <div class="panel panel-info">
            <div class="panel-heading">RESULTS - ONGOING</div>

            @{ Html.RenderPartial("~/Views/LiveBoard/_ResultOngoing.cshtml", Model); }
        </div>
    }

    @if (Model.Events.ElementAt(0).ResultList != null && Model.Events.ElementAt(0).ResultList.Heats != null && Model.Events.ElementAt(0).ResultList.Heats.Count > 0 && Model.Events.ElementAt(0).StateText.StartsWith("F"))
    {
        Model.CurrentEvent = Model.Events.ElementAt(0);

        <div class="panel panel-info">
            <div class="panel-heading">RESULTS - FINISHED</div>

            @{ Html.RenderPartial("~/Views/LiveBoard/_ResultFinished.cshtml", Model); }
        </div>
    }

    @if (Model.Events.ElementAt(0).StartList != null && Model.Events.ElementAt(0).StartList.Heats != null && Model.Events.ElementAt(0).StartList.Heats.Count > 0)
    {
        Model.CurrentEvent = Model.Events.ElementAt(0);

        <div class="panel panel-info">
            <div class="panel-heading">START LIST</div>

            @{ Html.RenderPartial("~/Views/LiveBoard/_StartList.cshtml", Model); }
        </div>
    }
</div>

@if (Model.Events.ElementAt(0).ResultList != null && Model.Events.ElementAt(0).ResultList.Heats != null && Model.Events.ElementAt(0).ResultList.Heats.Count > 0 && Model.Events.ElementAt(0).StateText.StartsWith("O"))
{
    @section Scripts{
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/countdown")">
        </script>
    }
}
